a:link, a:active, a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: line-through;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.on {
	background-color: white;
}

body {
	background-color: black;
	color: white;
}

li {
	width: 20px;
	height: 20px;
	background-color: black;
	margin: 1px;
	float: left;
	color: white;
}

.letter {
	float: left;
	font-weight: bold;
	font-size: 38pt;
}

.link {
	float: left;
	font-size: 30pt;
	font-weight: bold;
}

.sans {
	font-family: 'Helvetica', 'Arial', 'Deja Vu Sans', sans-serif;
}

ul {
	list-style-type: none;
	width: 220px;
	padding: 2px;
}
